<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RabbitMQHost" value="localhost" />
    <add key="RabbitMQUsername" value="guest" />
    <add key="RabbitMQPassword" value="guest" />
    <add key="BookMeetingQueueName" value="book-meeting"/>
    <add key="FetchAvatarActivityName" value="FetchAvatarActivity"/>
    <add key="FetchAvatarExecuteAddress" value="rabbitmq://localhost/execute_fetchavataractivity"/>
    <add key="ReserveRoomActivityName" value="ReserveRoomActivity"/>
    <add key="ReserveRoomExecuteAddress" value="rabbitmq://localhost/execute_reserveroomactivity"/>
    <add key="RoutingSlipEventSubscriptionAddress" value="rabbitmq://localhost/booking-request-tracking"/>
  </appSettings>
</configuration>